@use '../../style/style' as styles;

.field {
  height: 70px;
  margin-bottom: 10px;
  & .field-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: #539c8e;
    border: 2px solid #FF7A00;
  }
}